/******************************* Elements ******************************/

h1 {
	font-weight: bold;
}

h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
}

/********************************* DIV's *******************************/

#site {
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	margin: auto;
}

#header {	
	width: 100%;
	height: 50px;	
	background-color: #000000;
	display: table;
	position: fixed;
	z-index: 1;
}

	#header-menu {
		width: 100%;
		height: 100%;
		display: inline-block;		
		padding: 15px 0px;
		text-align: center;
	}

#content {
	width: 95%;
	margin: auto;
	background-color: #000000;
	display: table;
}

	#content-hello {
		width: 100%;
		height: 92vh;
		overflow: hidden;
	}

		#content-hello-box {
			width: 50%;
			height: 100%;
			background-color: #005669;
			border: none;
			float: left;
			transform-origin: left;
			transition: all 1s;
		}

		#content-hello-text {
			width: 50%;
			height: 100%;
			background-image: url('../img/content-hello-text.jpg');	/** Photo by NESA by Makers on Unsplash **/
			background-position: left top; 
			background-repeat: no-repeat;
			border: none;
			float: right;
			transition: all 1s;
		}

	#content-info {
		width: 100%;
		height: 92vh;
		background-color: #000000;
		display: inline-block;
	}

#footer {
	width: 100%;
	height: 50px;
	left: 0px;
	bottom: 0px;
	background-color: #000000;
	position: fixed;
	z-index: 1;
}

	#footer-contact {
		width: 100%;
		height: 100%;
		display: inline-block;
		text-align: center;
	}

/******************************** Classes ******************************/

.boxHidden {
	transform: scaleX(0);
}

.boxLoaded {
	transform: scaleX(1);
}

.boxTitle {
	top: 50%;
	left: 50%;
	color: #ffffff;
	float: left;
	font-family: 'Amaranth', sans-serif;
	font-size: 200px;
	line-height: .8em;
	opacity: .5;
	position: relative;
	transform: translate(-50%, -50%);
	transition: all 1s;
}

.textHidden {
	opacity: 0;
}

.textAlpha {
	opacity: .75;
}

.textShow {
	opacity: 1;
}

/******************************** Hovers *******************************/

.textAlpha:hover {
	opacity: 1;
}

.imageZoom:hover {
	filter: brightness(.5);
	transform: scale(1.01);
}