/**************************** Main components **************************/

html {
  background-color: rgb(25, 25, 25); 
  color: rgb(255, 255, 255);
  font-family: 'Albert Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 20px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*************************** Semantic elements *************************/

body {
  background-color: rgb(0, 0, 0); 
  margin: 0;
}

header {
  max-width: 1024px;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

main {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
}

article {
  width: 100%;
  padding: 0 0 50px;
}

section {
  margin-bottom: 50px;
}

footer {
  max-width: 1024px;
  height: 79px;
  display: block;
  border-top: 1px solid rgb(25, 25, 25);
  margin: 0 auto;
}

/********************************* DIV's *******************************/

#banner {
  height: calc(100vh - 200px);
  padding: 100px 0;
}

#projects {
  display: flow-root;
}

/***************************** Custom classes **************************/

.bannerBlocks {
  height: 30px;
}

  .bannerBlock1 {
    width: 100%;
    height: 10px;
    background-color: rgb(0, 126, 167);
    transform-origin: left;
    transition: .5s;
  }

  .bannerBlock2 {
    width: 80%;
    height: 10px;
    background-color: rgb(0, 168, 232);
    transform-origin: left;
    transition: .5s;
  }

  .bannerBlock3 {
    width: 60%;
    height: 10px;
    background-color: rgb(0, 105, 85);
    transform-origin: left;
    transition: .5s;
  }

  .bannerBlock4 {
    width: 60%;
    height: 10px;
    background-color: rgb(0, 105, 85);
    float: right;
    transform-origin: right;
    transition: .5s;
  }

  .bannerBlock5 {
    width: 80%;
    height: 10px;
    background-color: rgb(0, 168, 232);
    float: right;
    transform-origin: right;
    transition: .5s;
  }

  .bannerBlock6 {
    width: 100%;
    height: 10px;
    background-color: rgb(0, 126, 167);
    float: right;
    transform-origin: right;
    transition: .5s;
  }

.bannerContent {
  height: calc(100% - 60px);
  display: flex;
}

  .bannerCanvas {
    width: 100%;
    height: 80%;
    margin: auto 0;
  }
  
    .bannerImages {
      width: 100%;
      height: 70%;
      margin: 0 auto;
      position: relative;        
    }

      .bannerImage1 {
        position: absolute;
        top: 45%;
        left: 24%;
      }

      .bannerImage2 {
        position: absolute;
        top: 5%;
        left: 5%;          
      }

      .bannerImage3 {
        position: absolute;
        top: 0;
        left: calc(50% - 90px);
      }

      .bannerImage4 {
        position: absolute;
        top: 5%;
        right: 5%;
      }

      .bannerImage5 {
        position: absolute;
        top: 45%;
        right: 24%;
      }

        .bannerImage {
          width: 180px;
          height: 180px;
          border-radius: 50%;
        }

    .bannerName {
      height: 25%;
      font-size: 120px;
      font-weight: 300;
      letter-spacing: 0;
      text-align: center;
      transition: 1s;
    }

    .bannerText {
      font-family: 'Courier New', Courier, monospace;
      padding: 10px 0;
      text-align: center;
    }

.introBlock {
  width: 100%;
  line-height: 30px;
  transition: 1s;
}

.sectionTitle {
  width: 100%;
  margin-bottom: 50px;
  text-transform: uppercase;
  transition: 1s;
}

  .sectionTitleText {
    width: 100%;
  }

  .sectionTitleBar {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 105, 85);
    transform-origin: left;
    transition: .5s;
  }

.expBlock,
.eduBlock {
  width: calc(100% - 40px);
  display: flex;
  border-radius: 20px;
  padding: 15px 20px;
  transition: .5s;
}

  .expBlock:hover,
  .eduBlock:hover {
    background-color: rgb(40, 42, 49);
  }

  .expBlockPeriod,
  .eduBlockPeriod {
    width: 22%;
    text-transform: uppercase;
  }

  .expBlockContent,
  .eduBlockContent {
    width: 78%;
  }

    .expBlockPosition,
    .eduBlockCourse {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .expBlockPosition:hover,
    .eduBlockCourse:hover {
      color: rgb(0, 168, 232);
    } 

    .expBlockText,
    .eduBlockField {
      font-size: 15px;
      line-height: 22px;
    }

.tagList {
  display: inline;
  padding-top: 15px;
  font-size: 15px;
}

  .tagBlock {
    display: inline-flex;
    margin-top: 10px;
    padding: 5px 10px;
    transition: .2s all;
  }

  .tagArcGIS { background-color: rgba(150, 195, 98, .3); border: 1px solid rgb(110, 155, 58); color: rgb(255, 255, 255); }
  .tagAWS { background-color: rgba(255, 153, 0, .3); border: 1px solid rgb(215, 113, 0); color: rgb(255, 255, 255); }
  .tagAzure { background-color: rgba(0, 120, 212, .3); border: 1px solid rgb(0, 80, 172); color: rgb(255, 255, 255); }
  .tagC { background-color: rgba(0, 122, 204, .3); border: 1px solid rgb(0, 82, 164); color: rgb(255, 255, 255); }
  .tagCSharp { background-color: rgba(145, 121, 228, .3); border: 1px solid rgba(145, 121, 228); color: rgb(255, 255, 255); }
  .tagDocker { background-color: rgba(36, 150, 237, .3); border: 1px solid rgb(0, 110, 193); color: rgb(255, 255, 255); }
  .tagElasticStack { background-color: rgb(0, 85, 113, .3); border: 1px solid rgb(0, 45, 73); color: rgb(255, 255, 255); }
  .tagGCP { background-color: rgba(66, 133, 244, .3); border: 1px solid rgb(26, 93, 204); color: rgb(255, 255, 255); }
  .tagGit { background-color: rgba(240, 80, 50, .3); border: 1px solid rgb(200, 40, 10); color: rgb(255, 255, 255); }
  .tagHtmlCss { background-color: rgba(227, 79, 38, .3); border: 1px solid rgb(187, 39, 0); color: rgb(255, 255, 255); }
  .tagJava { background-color: rgba(237, 139, 0, .3); border: 1px solid rgb(197, 99, 0); color: rgb(255, 255, 255); }
  .tagJavascript { background-color: rgba(247, 223, 30, .3); border: 1px solid rgb(207, 183, 00); color: rgb(255, 255, 255); }
  .tagJQuery { background-color: rgba(7, 105, 173, .3); border: 1px solid rgb(0, 65, 133); color: rgb(255, 255, 255); }
  .tagKotlin { background-color: rgba(0, 149, 213, .3); border: 1px solid rgb(0, 109, 173); color: rgb(255, 255, 255); }
  .tagMatlab { background-color: rgba(0, 118, 168, .3); border: 1px solid rgb(0, 78, 128); color: rgb(255, 255, 255); }
  .tagPHP { background-color: rgba(119, 123, 180, .3); border: 1px solid rgb(79, 83, 140); color: rgb(255, 255, 255); }
  .tagRabbitMQ { background-color: rgba(255, 102, 0, .3); border: 1px solid rgb(215, 62, 0); color: rgb(255, 255, 255); }
  .tagReact { background-color: rgba(57, 193, 215, .3); border: 1px solid rgb(17, 153, 175); color: rgb(255, 255, 255); }
  .tagSpringBoot { background-color: rgba(109, 179, 63, .3); border: 1px solid rgb(79, 139, 63); color: rgb(255, 255, 255); }
  .tagSQL { background-color: rgba(68, 121, 161, .3); border: 1px solid rgb(28, 81, 121); color: rgb(255, 255, 255); }
  .tagTypescript { background-color: rgba(0, 122, 204, .3); border: 1px solid rgb(0, 82, 164); color: rgb(255, 255, 255); }
  .tagWordPress { background-color: rgba(33, 117, 155, .3); border: 1px solid rgb(0, 77, 115); color: rgb(255, 255, 255); }
  
  .tagSkill { background-color: rgba(176, 176, 176, .3); border: 1px solid rgb(136, 136, 136); color: rgb(255, 255, 255); }  
  
  .tooltipPopup {
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    user-select: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    pointer-events: 'none';
    z-index: 1000;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

.projBlock {
  width: 49%;
  height: 250px;
  display: inline-flex;
  background-color: rgb(10, 10, 10);
  background-position: center;
  margin-bottom: 10px;
  text-align: center;
  transition: .5s;
}

  .projBlock1 {
    background-image: url('../img/project1.jpg');    
  }

  .projBlock2 {
    background-image: url('../img/project2.jpg');
  }

  .projBlock3 {
    background-image: url('../img/project3.jpg');
  }

  .projBlock4 {
    background-image: url('../img/project4.jpg');
  }

  .projBlock5 {
    background-image: url('../img/project5.jpg');
  }

  .projBlock6 {
    background-image: url('../img/project6.jpg');
  }

  .projBlock1:hover,
  .projBlock2:hover,
  .projBlock3:hover,
  .projBlock4:hover,
  .projBlock5:hover,
  .projBlock6:hover {
    transform: scale(1.05);
  }

    .projBlockContent {
      margin: auto 0;
    }

      .projBlockTitle {
        font-weight: bold;
      }

      .projBlockDescription {
        margin: 20px 0;
        padding: 0 20px;
      }

      .projBlockLink {
        display: inline-flex;
        background-color: rgb(0, 50, 65, .7);
        border: 1px solid rgb(0, 126, 167);
        padding: 5px 10px;
      }

.projViewMore {
  margin-top: 20px;
  text-align: center;
  transition: .5s;
}

.pubBlock {
  width: calc(100% - 40px);
  display: flex;
  border-radius: 20px;
  padding: 15px 20px;
  transition: .5s;
}

  .pubBlock:hover {
    background-color: rgb(40, 42, 49);
  }

  .pubBlockYear {
    width: 22%;
    text-transform: uppercase;
  }

  .pubBlockContent {
    width: 78%;
  }

    .pubBlockName {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .pubBlockName:hover {
      color: rgb(0, 168, 232);
    } 

    .pubBlockJournal {
      font-size: 15px;
      line-height: 22px;
    }

.contact {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

  .contactButton {
    display: inline-flex;
    background-color: rgb(0, 50, 65, .7);
    border: 1px solid rgb(0, 126, 167);
    font-size: 40px;
    padding: 20px 40px;
    transition: .5s;
  }

.network {
  width: 100%;
  display: flex;
  justify-content: center;
}

  .socialMedia {
    margin: 0 15px;
    transition: .5s;
  }

    .socialMedia:hover {
      transform: scale(1.05);
    }

    .iconSocial {
      width: 67px;
      height: 67px;
    }

.footnote {
  font-size: 12px;
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
}

.iconArrow {
  margin-left: 0;
  margin-right: 3px;
  padding-bottom: 2px;
  transition: .1s;
  vertical-align: middle;
}

  a:hover > .iconArrow {
    margin-left: 3px;
    margin-right: 0;
  }

  .projBlockLink:hover > .iconArrow {
    margin-left: 3px;
    margin-right: 0;
  }

.iconEmail {
  margin-left: 0;
  margin-right: 5px;
  padding-bottom: 2px;
  transition: .1s;
  vertical-align: middle;
}

  a:hover > .iconEmail {
    margin-left: 5px;
    margin-right: 0;  
  }

  .contactButton:hover > .iconEmail {
    margin-left: 5px;
    margin-right: 0;
  }
