/****************************** Components *****************************/

h1, h2, h3, h4 {
	font-family: 'Amaranth', sans-serif;
}

li, p {
	font-family: 'Questrial', sans-serif;
}

strong {
	font-weight: bold;
}

ul {
	list-style-type: circle;
}

a:hover {
	text-decoration: none;
	opacity: .5;
}

img:hover {
	transform: scale(1.05);
}

/*************************** Semantic elements *************************/

body {
	width: 100%;
	color: #000000;
	margin: auto;
}

header {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	display: table;
	position: fixed;
	z-index: 9;
}

main {
	width: 96%;
	max-width: 1500px;
	margin: auto;
	background-color: #f8f8f8;
	display: table;
}

section {
	border-top: 1px solid #000000;
}

footer {
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	position: fixed;
	z-index: 9;
}

/********************************* DIV's *******************************/

#menu {
	width: 96%;
	height: 100%;
	padding: 0 2%;
	transition: all 1s;
}

	#menu-name {
		color: #727272;
		float: left;
		font-size: 14px;
		margin-top: 15px;
	}

	#menu-social {
		color: #727272;
		float: right;
		font-size: 14px;
		margin-top: 10px;
	}

#hello {
	width: 100%;
	height: 92vh;
	max-height: 50vw;
	overflow: hidden;
}

	#hello-box {
		width: 50%;
		height: 100%;
		background-color: #005669;
		border: none;
		color: #ffffff;
		float: left;
		font-size: 150px;
		transform-origin: left;
		transition: all 1s;
	}

	#hello-canvas {
		width: 50%;
		height: 100%;
		background-image: url('../img/content-hello.jpg');
		background-position: center 0;
		background-repeat: no-repeat;	
		border: none;
		float: right;
		position: relative;
		transform-origin: left;
		transition: background-position 0s, transform 1s, opacity 1s;
	}

#intro {
	width: 100%;
	height: 310px;
	display: inline-block;
	text-align: left;
}

	#intro-content {
		width: 50%;
		height: 100%;
		float: left;
	}

	#intro-canvas {
		width: 50%;
		height: 100%;
		float: right;
		text-align: center;
	}

#education {
	width: 100%;
	height: 500px;
	display: inline-block;
	text-align: left;
}

	#education-content {
		width: 50%;
		height: 100%;
		float: right;
	}

	#education-canvas {
		width: 50%;
		height: 100%;
		float: left;
	}

#contact {
	width: 96%;
	height: 100%;
	display: inline-block;
	padding: 0 2%;
	text-align: center;
	transition: all 1s;
}

/***************************** Custom classes **************************/

.boxTitle {
	top: 50%;
	left: 50%;	
	float: left;	
	line-height: .8em;
	position: relative;
	transform: translate(-50%, -50%);
	transition: all 1s;
}

.labelTitle {
	width: 100%;
	top: 50px;
	font-size: 48px;
	font-weight: bold;
	position: relative;
	text-align: center;
	transition: all 1s;
}

.labelContent {
	top: 100px;
	display: block;
	font-size: 24px;
	line-height: 35px;
	padding: 0 50px;
	position: relative;
	transition: all 1s;
}

.canvasIcon {
	width: 100px;
	height: 100px;
	top: 100px;
	transition: all 1s;
	position: relative;
}

.footerContent {
	color: #727272;
	font-size: 12px;
	margin-top: 16px;
}

/**************************** Effects classes **************************/

.boxHidden { transform: scaleX(0); }
.boxLoaded { transform: scaleX(1); }

.textHidden { opacity: 0; }
.textShow { opacity: 1; }

.imageHidden { opacity: 0; transform: scale(.95); }
.imageShow { opacity: 1; transform: scale(1); }
	.imageShow:hover { transform: scale(1.05); }