/**************************** IPad (default) ***************************/

@media screen and (max-width: 1366px) {

	#intro { height: 479px; }
	#intro-content { height: 200px; }

	#awards { height: 679px; }
	#awards-content { height: 330px; }
	#awards-canvas { height: 330px; }

	.cellSkills { width: 210px; }
	.iconAwards { top: 48px; }
	.imageUfscar { left: 50px; }
}

/************************** Chromebook Pixel ***************************/

@media screen and (max-width: 1280px) {

	#intro { height: 449px; }
	#intro-canvas { height: 250px; }

	#education { height: 433px; }
	#education-content { height: 433px; }
	#education-canvas { height: 433px; }

	.cellSkills { width: 190px; }
	.iconAwards { left: 20px; }
	.iconIntro { width: 160px; height: 160px; }
	.imageUfscar { width: 360px; height: 240px; }
	.imageUnesp { width: 360px; height: 240px; top: 143px; }
	.labelImage { font-size: 20px; }
}

/******************** Old Default Windows Resolution *******************/

@media screen and (max-width: 1024px) {

	#hello-box { font-size: 120px; }

	#intro { height: 439px; }
	#intro-canvas { height: 230px; }

	#education { height: 503px; }
	#education-content { height: 503px; }
	#education-canvas { height: 503px; }

	#awards { height: 749px; }
	#awards-content { height: 400px; }
	#awards-canvas { height: 400px; }

	#skills { height: 359px; }
	#skills-canvas { height: 260px; }

	.cellSkills { width: 150px; }
	.iconAwards { width: 110px; height: 110px; top: 104px; }
	.iconIntro { width: 140px; height: 140px; }
	.iconSkills { width: 110px; height: 110px; }
	.imageUfscar { width: 300px; height: 225px; }
	.imageUnesp { width: 300px; height: 225px; top: 228px; }
	.labelImage { font-size: 16px; }
	.tableSkills { height: 210px; }
	.textCanvas { font-size: 20px; }
}

/**************************** IPad (default) ***************************/

@media screen and (max-width: 768px) {

	strong { font-weight: 400; text-shadow: 0 0 1px #000; }

	#hello-box { width: 100%; }
	#hello-banner { display: none; }

	#intro { height: 472px; }
	#intro-content { height: 233px; }
	#intro-canvas { height: 240px; }

	#education { height: 713px; }
	#education-content { width: 100%; height: 423px; }
	#education-canvas { width: 100%; height: 290px; }

	#experience { height: 2722px; }
	#experience-content-a { width: 100%; height: 206px; border-bottom: none; }
	#experience-canvas-a { width: 100%; height: 349px; text-align: center; }
	#experience-content-b { width: 100%; height: 206px; border-bottom: none; }
	#experience-canvas-b { width: 100%; height: 349px; text-align: center; }
	#experience-content-c { width: 100%; height: 206px; border-bottom: none; }
	#experience-canvas-c { width: 100%; height: 349px; text-align: center; }
	#experience-content-d { width: 100%; height: 206px; border-bottom: none; }
	#experience-canvas-d { width: 100%; height: 349px; text-align: center; }

	#awards { height: 834px; }
	#awards-content { width: 100%; height: 325px; }
	#awards-canvas { width: 100%; height: 160px; }

	#skills { height: 539px; }
	#skills-canvas { height: 440px; }

	.cellSkills { width: 180px; display: inline-block; }
	.iconAwards { top: 10px; left: 0; }
	.imageUfscar { width: 320px; height: 240px; }
	.imageUnesp { width: 320px; height: 240px; top: 50px; right: 50px; }
	.listDefault { text-align: left; padding: 0 35px; }
	.tableExperience { width: 500px; display: inherit; margin: 0 auto; }
	.tableSkills { width: 600px; }
	.textCentered { padding: 0 35px; }
	.textFull { display: none; }
	.textJustified { padding: 0 35px; }
}

/***************************** Galaxy Tab A ****************************/

@media screen and (max-width: 601px) {

	#intro { height: 452px; }
	#intro-canvas { height: 220px; }

	#education { height: 788px; }
	#education-content { height: 498px; }

	#experience { height: 2862px; }
	#experience-content-a { height: 241px; }
	#experience-content-b { height: 241px; }
	#experience-content-c { height: 241px; }
	#experience-content-d { height: 241px; }

	#awards { height: 904px; }
	#awards-content { height: 395px; }

	#skills { height: 709px; }
	#skills-canvas { height: 610px; }

	#contact { height: 718px; }
	#contact-content { height: 238px; }

	.cellSkills { width: 230px; }
	.emptySpace { display: none; }
	.iconIntro { width: 120px; height: 120px; }
	.lineBreak { display: block; }
	.tableSkills { width: 500px; }
}

/****************** Iphone 6/7/8 Plus, Galaxy S9 Plus ******************/

@media screen and (max-width: 414px) {

	#intro { height: 457px; }
	#intro-content { height: 268px; }
	#intro-canvas { height: 190px; letter-spacing: 5px; }

	#education { height: 993px; }
	#education-content { height: 723px; }
	#education-canvas { height: 310px; }

	#experience { height: 2810px; }
	#experience-title { height: 196px; }
	#experience-content-a { height: 276px; }
	#experience-canvas-a { height: 289px; }
	#experience-content-b { height: 276px; }
	#experience-canvas-b { height: 289px; }
	#experience-content-c { height: 276px; }
	#experience-canvas-c { height: 289px; }
	#experience-content-d { height: 276px; }
	#experience-canvas-d { height: 289px; }

	#awards { height: 939px; }
	#awards-content { height: 430px; }

	#about { width: 96%; }

	.cellSkills { width: 180px; }
	.iconExperience { width: 70px; height: 70px; }
	.iconIntro { width: 90px; height: 90px; }
	.imageUfscar { width: 240px; height: 160px; left: 40px; }
	.imageUnesp { width: 240px; height: 160px; top: 150px; right: 40px; }
	.listDefault { text-align: justify; padding: 0 30px; }
	.rowExperience { height: 80px; }
	.tableExperience { width: 380px; }
	.tableSkills { width: 400px; }
	.textCanvas { font-size: 16px; }
	.textCentered { padding: 0 10px; text-align: justify; }
	.textJustified { padding: 0 10px; }
}

/**************************** Iphone 6/7/8/X ***************************/

@media screen and (max-width: 375px) {

	#hello-box { font-size: 100px; }

	#intro { height: 482px; }
	#intro-content { height: 303px; }
	#intro-canvas { height: 180px; }

	#education { height: 1033px; }
	#education-content { height: 723px; }
	#education-canvas { height: 310px; }

	#experience { height: 2854px; }
	#experience-content-a { height: 272px; }
	#experience-content-b { height: 272px; }
	#experience-content-c { height: 302px; }
	#experience-content-d { height: 302px; }

	#awards { height: 964px; }
	#awards-content { height: 465px; }
	#awards-canvas { height: 150px; }
	
	#contact { height: 733px; }
	#contact-canvas { height: 145px; }

	.cellSkills { width: 160px; }
	.iconAwards { width: 100px; height: 100px; }
	.iconIntro { width: 80px; height: 80px; }
	.imageUfscar { left: 30px; }
	.imageUnesp { right: 30px; }
	.labelDefault { font-size: 34px; }
	.tableExperience { width: 360px; }
	.tableSkills { width: 360px; }
	.textCanvas { font-size: 16px; line-height: 22px; }
	.textCentered { padding: 0 15px; }
}

/***************************** Galaxy S9/S9 *****************************/

@media screen and (max-width: 360px) {

	#intro { height: 512px; }
	#intro-content { height: 338px; }
	#intro-canvas { height: 175px; }

	#education { height: 1093px; }
	#education-content { height: 780px; }

	#awards { height: 1029px; }
	#awards-content { height: 535px; }

	.iconIntro { width: 75px; height: 75px; }
	.tableExperience { width: 340px; }
}

/************************** Iphone 5/5c/5s/SE **************************/

@media screen and (max-width: 320px) {

	#intro { height: 502px; }
	#intro-canvas { height: 165px; }

	#education { height: 1153px; }
	#education-content { height: 853px; }
	#education-canvas { height: 300px; }

	#experience { height: 2952px; }
	#experience-content-a { height: 303px; }
	#experience-content-b { height: 303px; }
	#experience-content-c { height: 303px; }
	#experience-content-d { height: 338px; }

	#awards { height: 1019px; }
	#awards-content { height: 525px; }
	#awards-canvas { height: 140px; }

	#contact { height: 826px; }
	#contact-content { height: 326px; }
	#contact-canvas { height: 150px; }

	.cellSkills { width: 145px; }
	.iconAwards { width: 90px; height: 90px; }
	.iconIntro { width: 65px; height: 65px; }
	.imageUfscar { width: 200px; height: 150px; left: 20px; }
	.imageUnesp { width: 200px; height: 150px; right: 20px; }
	.labelDefault { font-size: 30px; }
	.tableExperience { width: 300px; }
	.tableSkills { width: 300px; }
	.textContact { margin-left: 5px; }
}
