/**************************** IPad (default) ***************************/

@media screen and (max-width: 1366px) {

	#intro { height: 479px; }
		#intro-content { height: 200px; }

	#awards { height: 679px; }
		#awards-content { height: 330px; }
		#awards-canvas { height: 330px; }

	.cellSkills { width: 210px; }
	.iconAwards { top: 48px; }
	.imageUfscar { left: 50px; }
}

/************************** Chromebook Pixel ***************************/

@media screen and (max-width: 1280px) {

	#intro { height: 449px; }
		#intro-canvas { height: 250px; }

	#education { height: 433px; }
		#education-content { height: 433px; }
		#education-canvas { height: 433px; }

	.cellSkills { width: 190px; }
	.iconAwards { left: 20px; }
	.iconIntro { width: 160px; height: 160px; }
	.imageUfscar { width: 360px; height: 240px; }
	.imageUnesp { width: 360px; height: 240px; top: 143px; }
	.labelImage { font-size: 20px; }
}

/******************** Old Default Windows Resolution *******************/

@media screen and (max-width: 1024px) {

	#hello-box { font-size: 120px; }

	#intro { height: 439px; }
		#intro-canvas { height: 230px; }

	#education { height: 503px; }
		#education-content { height: 503px; }
		#education-canvas { height: 503px; }

	#awards { height: 749px; }
		#awards-content { height: 400px; }
		#awards-canvas { height: 400px; }

	#skills { height: 359px; }
		#skills-canvas { height: 260px; }

	.cellSkills { width: 150px; }
	.iconAwards { width: 110px; height: 110px; top: 104px; }
	.iconIntro { width: 140px; height: 140px; }
	.iconSkills { width: 110px; height: 110px; }
	.imageUfscar { width: 300px; height: 225px; }
	.imageUnesp { width: 300px; height: 225px; top: 228px; }
	.labelImage { font-size: 16px; }
	.tableSkills { height: 210px; }
	.textCanvas { font-size: 20px; }
}

/**************************** IPad (default) ***************************/

@media screen and (max-width: 768px) {

	/*** #hello ***/
		#hello-box { width: 100%; }
		#hello-banner { display: none; }

	#intro { height: 462px; }
		#intro-content { height: 233px; }
		#intro-canvas { height: 230px; }

	#education { height: 713px; }
		#education-content { width: 100%; height: 423px; }
		#education-canvas { width: 100%; height: 290px; }

	#experience { height: 2827px; }
		#experience-content-a { width: 100%; height: 206px; border-bottom: none; }
		#experience-canvas-a { width: 100%; height: 349px; text-align: center; }
		#experience-content-b { width: 100%; height: 241px; border-bottom: none; }
		#experience-canvas-b { width: 100%; height: 349px; text-align: center; }
		#experience-content-c { width: 100%; height: 241px; border-bottom: none; }
		#experience-canvas-c { width: 100%; height: 349px; text-align: center; }
		#experience-content-d { width: 100%; height: 241px; border-bottom: none; }
		#experience-canvas-d { width: 100%; height: 349px; text-align: center; }

	#awards { height: 839px; }
		#awards-content { width: 100%; height: 330px; }
		#awards-canvas { width: 100%; height: 160px; }

	#skills { height: 539px; }
		#skills-canvas { height: 440px; }

	.cellSkills { width: 180px; display: inline-block; }
	.iconAwards { top: 10px; left: 0; }
	.imageUfscar { width: 320px; height: 240px; }
	.imageUnesp { width: 320px; height: 240px; top: 50px; right: 50px; }
	.tableExperience { width: 500px; display: inherit; margin: 0 auto; }
	.tableSkills { width: 600px; }
}

/***************************** Galaxy Tab A ****************************/

@media screen and (max-width: 601px) {

	#intro { height: 439px; }
		#intro-content { height: 240px; }
		#intro-canvas { height: 200px; }

	#education { height: 858px; }
		#education-content { height: 528px; }
		#education-canvas { height: 330px; }

	#experience { height: 2897px; }
		#experience-content-a { height: 241px; }
		#experience-content-b { height: 276px; }

	#awards { height: 904px; }
		#awards-content { height: 395px; }

	#contact { height: 693px; }
		#contact-content { height: 233px; }
		#contact-canvas { height: 110px; }

	.emptySpace { font-size: 20px; margin: 0 0 0 15px; }
	.iconContact { width: 20px; height: 20px; }
	.iconIntro { width: 110px; height: 110px; }
	.imageUnesp { top: 90px; right: 50px; }
	.listDefault { padding: 0 60px; }
	.textContact { font-size: 15px; }
	.textFull { display: none; }
}

/*************************** Iphone 6/7/8 Plus *************************/

@media screen and (max-width: 414px) {

	#intro { height: 509px; }
		#intro-content { height: 345px; }
		#intro-canvas { height: 165px; }

	#education { height: 1086px; }
		#education-content { height: 786px; }
		#education-canvas { height: 300px; }

	#experience { height: 2931px; }
		#experience-title { height: 196px; }
		#experience-content-a { height: 268px; }
		#experience-canvas-a { height: 281px; }
		#experience-content-b { height: 338px; }
		#experience-canvas-b { height: 291px; }
		#experience-content-c { height: 303px; }
		#experience-canvas-c { height: 281px; }
		#experience-content-d { height: 338px; }
		#experience-canvas-d { height: 281px; }

	#awards { height: 989px; }
		#awards-content { height: 500px; }
		#awards-canvas { height: 140px; }

	#skills { height: 709px; }
		#skills-canvas { height: 610px; }

	#contact { height: 753px; }
		#contact-content { height: 273px; }
		#contact-canvas { height: 130px; }

	.emptySpace { display: none; }
	.iconAwards { width: 90px; height: 90px; }
	.iconExperience { width: 60px; height: 60px; }
	.iconIntro { width: 70px; height: 70px; }
	.imageUfscar { width: 240px; height: 160px; }
	.imageUnesp { width: 240px; height: 160px; top: 140px; }
	.labelDefault { font-size: 28px; }
	.lineBreak { display: block; }
	.listDefault { padding: 0 55px; }
	.rowExperience { height: 80px; line-height: 30px; }
	.tableExperience { width: 330px; }
	.tableSkills { width: 400px; }
	.textCanvas { font-size: 16px; }
	.textCentered { text-align: justify; }
}

/**************************** Iphone 6/7/8/X ***************************/

@media screen and (max-width: 375px) {

	#intro { height: 499px; }
		#intro-content { height: 335px; }
		#intro-canvas { letter-spacing: 5px; }

	#education { height: 1097px; }
		#education-content { height: 797px; }

	#experience { height: 2926px; }
		#experience-title { height: 180px; }
		#experience-content-a { height: 268px; }
		#experience-content-b { height: 338px; }
		#experience-content-c { height: 308px; }

	#awards { height: 972px; }
		#awards-content { height: 495px; }
		#awards-canvas { height: 130px; }

	#contact { height: 745px; }
		#contact-content { height: 265px; }

	.cellSkills { width: 160px; }
	.iconAwards { width: 80px; height: 80px; }
	.iconIntro { width: 65px; height: 65px; }
	.listDefault { padding: 0 50px; }
	.tableExperience { width: 320px; }
	.tableSkills { width: 340px; }
	.textCentered { padding: 0 30px; }
	.textJustified { padding: 0 30px; }
	.titleDefault { font-size: 40px; }
}

/************************** Iphone 5/5c/5s/SE **************************/

@media screen and (max-width: 320px) {

	/*** #hello ***/
		#hello-box { font-size: 100px; }

	#intro { height: 484px; }
		#intro-content { height: 335px; }
		#intro-canvas { height: 150px; }

	#education { height: 1317px; }
		#education-content { height: 1017px; }

	#experience { height: 3119px; }
		#experience-content-a { height: 338px; }
		#experience-content-b { height: 408px; }
		#experience-canvas-b { height: 321px; }
		#experience-content-c { height: 343px; }
		#experience-content-d { height: 333px; }

	#awards { height: 1039px; }
		#awards-content { height: 560px; }
		#awards-canvas { height: 130px; }

	#skills { height: 649px; }
		#skills-canvas { height: 550px; }

	.cellSkills { width: 140px; }
	.iconIntro { width: 50px; height: 50px; }
	.iconSkills { width: 90px; height: 90px; }
	.imageUfscar { width: 200px; height: 150px; }
	.imageUnesp { width: 200px; height: 150px; top: 150px; }
	.labelDefault { font-size: 24px; }
	.listDefault { padding: 0 48px; text-align: left; }
	.tableExperience { width: 230px; }
	.tableSkills { width: 300px; }
	.textJustified {  padding: 0 25px; text-align: center; }
	.textCanvas { font-size: 14px; }
}